.top-navigation {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(239, 145, 105);
    padding: 10px;
}

.top-navigation a {
    color: rgb(239, 145, 105);
    margin-top: 0;
}



h4 {
    margin: 0;
}

select {
    margin-left: auto;
}

.top-navigation>*:not(:last-child) {
    margin-right: 7%;
}

footer {
    color: rgb(239, 145, 105);
    text-align: center;
}

img {
    margin-top: 10px;
    width: 270px;
    height: 83%;
    margin-right: 0%;
}