
footer {
    color: rgb(239,145,105);
    text-align: center;
}

.contact-info {
    margin-top: 20px;
}

.contact-info h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info li {
    margin-bottom: 5px;
}

.contact-info li strong {
    font-weight: bold;
    margin-right: 5px;
}
.top-navigation{
    color: rgb(239,145,105);

}

.top-navigation a{
    color: rgb(239,145,105);

}



