<div class="job-container">
    <h1>{{job?.jobName}}</h1>
    <p id="p">field: {{jobField[job?.jobfield!]}}</p>
    <p id="p">scope of hours: {{job?.scopeOfHours}}</p>
    <p id="p">area: {{jobArea[job?.area!]}}</p>

    <details>
        <summary>details</summary>
        <p>requirements: {{job?.requirements}}</p>

        <div [ngSwitch]="job?.workingFromHome">WorkingFromHome:
            <p *ngSwitchCase="true">✔️</p>
            <p *ngSwitchCase="false">❌</p>
        </div>
    </details>

    <button [disabled]="ifSend()" (click)="sendCV()" [ngStyle]="{ 'opacity': ifSend() ? '0.5' : '1', 'cursor': ifSend() ? 'not-allowed' : 'pointer' }">send CV</button>
</div>