.job-container {
    width: 20%;
    height: 40%;
    background-color:rgb(239,145,105); 
    color: rgb(19,17, 17);
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  
}

.job-container h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 33px;
    margin-bottom: 5px;
   margin-left: 90px;
}

.job-container p {
    margin: 5px 0;
    margin-left: 90px;

}

.job-container button {
    margin-left: 90px;
    background-color: rgb(19,17, 17);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.job-container button:hover {
    background-color: gray; 
}
details{
    margin-left: 90px;
}
details p {
    padding: -90px;
}
